# fdfpv-turn-cert.service: Caddy's certificate for the address, copied for
# coturn's TURN over TLS (turn-cert.sh). Run by fdfpv-turn-cert.timer, and
# once by turn-install.sh before coturn starts.
#
# This file is part of WebFPVSimulator.
#
# WebFPVSimulator is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
#
# WebFPVSimulator is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with WebFPVSimulator. If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=FDFPV: Caddy's certificate for coturn
After=caddy.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/fdfpv/deploy/vm/turn-cert.sh 129.151.39.48
